.home-section{
    background-color: #3D9BFF;
    min-height: calc(100vh - 56px);
    min-height: -webkit-calc(100vh - 56px);
    min-height: -moz-calc(100vh - 56px);
}
.home-second-div h1{
    font-weight: 700;
}
.home-second-div p{
    font-size: 20px;
    font-weight: 400;
}
.btn-brand{
    padding: 8px 30px;
    background-color: #DC143C;
    color: #fff;
    font-size: 20px !important;
    font-weight: bold;
    font-weight: 700;
}
.btn-brand:hover{
    background-color: #fff;
    color: #DC143C;
}